@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Kdam+Thmor+Pro&family=Oswald:wght@200;300;400;500;600&display=swap') ;

* {
  margin: 0;
}

.feedback-container {
  align-items: center;
  background-color: #c2bebe;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.feedback-main-container {
  align-items: center;
  background-color: #c2bebe;
  border: 2px solid rgb(170, 168, 168);
  border-radius: 15px;
  box-shadow: 2px 2px 3px 3px rgb(131, 126, 126);
  display: flex;
  flex-direction: column;
  font-family: Kdam Thmor Pro , sans-serif;
  height: auto;
  justify-content: flex-start;
  margin: 10px;
  width: 450px;
}

.btn-pay-again, .btn-ranking {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 1px 1px rgb(131, 126, 126);
  color: white;
  height: 30px;
  margin: 5px;
  width: 140px;
}

.btn-pay-again:hover, .btn-ranking:hover {
  box-shadow: 0.5px 0.5px 1px 1px #beb7b7;
}

.score-assertions {
  color: #0d6efd;
}
