@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Kdam+Thmor+Pro&family=Oswald:wght@200;300;400;500;600&display=swap') ;

* {
  margin: 0;
}

.game-container {
  align-items: center;
  background-color: #818181;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100%;
}

.main-container {
  align-items: center;
  background-color: #c2bebe;
  border: 2px solid rgb(170, 168, 168);
  border-radius: 15px;
  box-shadow: 2px 2px 3px 3px rgb(131, 126, 126);
  display: flex;
  flex-direction: column;
  font-family: Kdam Thmor Pro , sans-serif;
  height: 100vh;
  justify-content: flex-start;
  margin: 10px;
  width: 450px;
}

.answers-container {
  align-items: center;
  background-color: rgb(237, 237, 237);
  border-radius: 0 0 3px 3px;
  display: flex;
  flex-direction: column;
  font-weight: 200;
  margin-bottom: 10px;
  min-height: 180px;
  padding-top: 10px;
  width: 96%;
}

/* .answers-container p {
} */

.answer {
  background-color: #0d6efd;
  border: 3px solid #0d6efd;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 1px 1px rgb(131, 126, 126);
  color: white;
  font-family: Franklin Gothic Medium , Arial Narrow , Arial , sans-serif;
  font-size: 0.9rem;
  margin: 3px;
  padding: 2px;
  width: 300px;
}

.answer:hover {
  box-shadow: 0.5px 0.5px 1px 1px #c2bebe;
}

/* button:disabled {
  background: white;
  color: black;
} */


.correct-answer {
  background-color: green;
  border: 3px solid rgb(6, 240, 15);
  color: white;
}

.correct-answer:hover {
  box-shadow: 0.5px 0.5px 1px 1px rgb(131, 126, 126);
}

.incorrect-answer {
  background-color: red;
  border: 3px solid red;
  color: white;
}

.incorrect-answer:hover {
  box-shadow: 0.5px 0.5px 1px 1px rgb(131, 126, 126);
}

.btn-next {
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 1px 1px rgb(131, 126, 126);
  color: white;
  font-family: Franklin Gothic Medium , Arial Narrow , Arial , sans-serif;
  font-size: 1rem;
  margin: 5px;
  width: 70px;
}

.btn-next:hover {
  box-shadow: 0.5px 0.5px 1px 1px #c2bebe;
}

.categoty-container {
  align-items: center;
  background-color: purple;
  border: 1px solid purple;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px 2px rgb(131, 126, 126);
  color: white;
  display: flex;
  flex-direction: column;
  font: 1em sans-serif;
  margin-top: 15px;
  padding-bottom: 10px;
  width: 400px;
}

h2 {
  color: red;
}

.categoty-container p {
  background-color: white;
  border-radius: 3px;
  color: #414141;
  font-family: Franklin Gothic Medium , Arial Narrow , Arial , sans-serif;
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: center;
  width: 96%;
}

.question-container {
  align-items: center;
  background-color: #0d6efd;
  border: 2px solid #0d6efd;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px 2px rgb(131, 126, 126);
  color: white;
  display: flex;
  flex-direction: column;
  font: 1em sans-serif;
  margin: 15px 1px;
  width: 400px;
}

.question-container h3 {
  padding: 5px;
}

.categoty-container h3 {
  padding: 5px;
}

.question-container p {
  background-color: white;
  border-bottom: 2px solid #0d6efd;
  border-radius: 3px 3px 0 0;
  color: #414141;
  font: 0.9em sans-serif;
  font-family: Franklin Gothic Medium , Arial Narrow , Arial , sans-serif;
  min-height: 80px;
  width: 96%;
}
